body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
}

.body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    font-weight: bold;
    color: black;
}


.header-one {
    background-color: #d32f2f;
}

.body-one {
    background-color: #ffffff;
}

.header-two {
    background-color: #0277bd;
}

.body-two {
    background-color: #72c5ff;
}

.header-three {
    background-color: #424242;
}

.body-three {
    background-color: #7a7671;
}

.header-four {
    background-color: #b71c1c;
}

.body-four {
    background-color: #e53935;
}
