body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
}

.box {
    border: 1px solid #444;
}

.red {
    background-color: #ff0000;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.green {
    background-color: #008000;
    grid-column: 3 / 4;
}

.orange {
    background-color: #ff6600;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
}

.purple {
    background-color: #800080;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.pink {
    background-color: #ff00ff;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.blue {
    background-color: #0000ff;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.brown {
    background-color: #a52a2a;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.indigo {
    background-color: #4b0082;
    grid-column: 2 / 4;
    grid-row: 3 / 4;
}
